{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">Please select project engineer for {{project.job_no}}</div>
    </div>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Save">
    </form>

    <div class="row">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>



{% endblock content %}