<table class="table table-striped table-bordered " id="myTable">
    <thead>
        <tr>
        
        <th scope='col' class='text-center'>Job No</th>
        <th scope='col' class='text-center'>Job Type</th>
        <th scope='col' class='text-center'>Customer Order Ref</th>
        <th scope='col' class='text-center'>Order Date</th>
        <th scope='col' class='text-center'>Process Date</th>
        <th scope='col' class='text-center'>Order Value</th>
        <th scope='col' class='text-center'>Customer</th>
        <th scope='col' class='text-center'>Account Type</th>
        <th scope='col' class='text-center'>Project Engineer</th>
        <th scope='col' class='text-center'>Status</th>
        <th scope='col' class='text-center'>Doors Single</th>
        <th scope='col' class='text-center'>Doors Double</th>
        <th scope='col' class='text-center'>Order req. by Date</th>
        <th scope='col' class='text-center'>Handling Floor Plans</th>
        <th scope='col' class='text-center'>Comments</th>
        <th scope='col' class='text-center'>Date Send For Approval</th>
        <th scope='col' class='text-center'>Date Approval Recived</th>
        <th scope='col' class='text-center'>Date Into Production</th>
        <th scope='col' class='text-center'>Dispatch Date</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects.qs %}
        {% include "tracker/project_list_partials/row.html" %}
        {% endfor %}
        
    </tbody>
</table>